@CHARSET "ISO-8859-1";
/* Reset CSS
 * --------------------------------------- */
@font-face { font-family: 'NEXON Lv1 Gothic Low OTF'; src: url("../font/NEXON Lv1 Gothic Low OTF.woff") format('woff'); }
body {font-family:"NEXON Lv1 Gothic Low OTF", sans-serif;}

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,
form,fieldset,input,textarea,p,blockquote,th,td {
    padding: 0;
    margin: 0;
}
a{
	text-decoration:none;
}
table {
    border-spacing: 0;
}
fieldset,img {
    border: 0;
}
address,caption,cite,code,dfn,em,strong,th,var {
    font-weight: normal;
    font-style: normal;
}
strong{
	font-weight: bold;
}
ol,ul {
    list-style: none;
    margin:0;
    padding:0;
}
caption,th {
    text-align: left;

}
h1,h2,h3,h4,h5,h6 {
    font-weight: normal;
    font-size: 100%;
    margin:0;
    padding:0;
    color:#444;
}
q:before,q:after {
    content:'';
}
abbr,acronym { border: 0;
}


/* Custom CSS
 * --------------------------------------- */
body{
	font-size:16px;
	color: #000;
}
.wrap{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	position: relative;
}
.intro p{
	width: 50%;
	margin: 0 auto;
	font-size: 1.5em;
}
.section{
	text-align:center;
}
#menu li {
	display:inline-block;
	margin: 10px;
	color: #000;
	background:#fff;
	background: rgba(255,255,255, 0.5);
	-webkit-border-radius: 10px;
            border-radius: 10px;
}
#menu li.active{
	background:#666;
	background: rgba(0,0,0, 0.5);
	color: #fff;
}
#menu li a{
	text-decoration:none;
	color: #000;
}
#menu li.active a:hover{
	color: #000;
}
#menu li:hover{
	background: rgba(255,255,255, 0.8);
}
#menu li a,
#menu li.active a{
	padding: 9px 18px;
	display:block;
}
#menu li.active a{
	color: #fff;
}
#menu{
	position:fixed;
	top:0;
	left:0;
	height: 40px;
	z-index: 70;
	width: 100%;
	padding: 0;
	margin:0;
}
.twitter-share-button{
	position: fixed;
	z-index: 99;
	right: 149px;
	top: 9px;
}
#download{
	margin: 10px 0 0 0;
	padding: 15px 10px;
	color: #fff;
	text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
	background-color: #49afcd;
	background-image: -moz-linear-gradient(top, #5bc0de, #2f96b4);
	background-image: -ms-linear-gradient(top, #5bc0de, #2f96b4);
	background-image: -webkit-gradient(linear,0 0,0 100%,from( #5bc0de),to( #2f96b4));
	background-image: -webkit-linear-gradient(top, #5bc0de, #2f96b4);
	background-image: -o-linear-gradient(top, #5bc0de, #2f96b4);
	background-image: linear-gradient(top, #5bc0de, #2f96b4);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5bc0de', endColorstr='#2f96b4', GradientType=0);
	border-color: #2f96b4 #2f96b4 #1f6377;
	border-color: rgba(0,0,0,.1) rgba(0,0,0,.1) rgba(0,0,0,.25);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);

	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	vertical-align: middle;
	cursor: pointer;
	display: inline-block;
	-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
	-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
	box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
}
#download a{
	text-decoration:none;
	color:#fff;
}
#download:hover{
	text-shadow: 0 -1px 0 rgba(0,0,0,.25);
	background-color: #2F96B4;
	background-position: 0 -15px;
	-webkit-transition: background-position .1s linear;
	-moz-transition: background-position .1s linear;
	-ms-transition: background-position .1s linear;
	-o-transition: background-position .1s linear;
	transition: background-position .1s linear;
}
#infoMenu{
	height: 20px;
	color: #f2f2f2;
	position:fixed;
	z-index:70;
	bottom:0;
	width:100%;
	text-align:right;
	font-size:0.9em;
	padding:8px 0 8px 0;
}
#infoMenu ul{
	padding: 0 40px;
}
#infoMenu li a{
	display: block;
	margin: 0 22px 0 0;
	color: #333;
}
#infoMenu li a:hover{
	text-decoration:underline;
}
#infoMenu li{
	display:inline-block;
	position:relative;
}
#examplesList{
	display:none;
	background: #282828;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	padding: 20px;
	float: left;
	position: absolute;
	bottom: 29px;
	right: 0;
	width:638px;
	text-align:left;
}
#examplesList ul{
	padding:0;
}
#examplesList ul li{
	display:block;
	margin: 5px 0;
}
#examplesList ul li a{
	color: #BDBDBD;
	margin:0;
}
#examplesList ul li a:hover{
	color: #f2f2f2;
}
#examplesList .column{
	float: left;
	margin: 0 20px 0 0;
}
#examplesList h3{
	color: #f2f2f2;
	font-size: 1.2em;
	margin: 0 0 15px 0;
	border-bottom: 1px solid rgba(0, 0, 0, 0.4);
	-webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1);
	-moz-box-shadow: 0 1px 0 rgba(255,255,255,0.1);
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1);
	padding: 0 0 5px 0;
}

/* heading size */
.section h2 {color:#fff; font-size:2.250em;}

/* header */
.header-wrap {
	position: fixed;
	left:0;
	top:0;
	width:100%;
	height: 78px;
	text-align: center;
	z-index: 9999;
	background:#fff;
	box-shadow: 0 0 7px rgba(0,0,0,.1)!important;
}
.header-menu {line-height: 75px;}
.header-menu li {
	display: inline-block;
	padding-right:25px;
	position:relative;

}
.header-menu li:after {
	content:"";
	width:1px;
	height:20px;
	position: absolute;
	right:11px;
	top:28px;
	background: rgba(0,0,0,0.6);
}
.header-menu li:last-child:after {
	width:0;
}
.header-menu li a {
	color:#000;
	font-size:1.125em;
}
.header-menu li:hover a,
.header-menu li:focus a
{
	color: rgba(0,0,0,0.6);
	padding-bottom: 5px;

}
.header-menu li a:before,
.header-menu li a:before
{
	transition: all ease-in-out .4s;
	background: #000;
	content: "";
	display: block;
	height: 2px;
	width: 0;
}
.header-menu li:hover a:before,
.header-menu li:focus a:before
{
	width: 100%;
}
input.menu-ch {
	position: absolute;
	right: 0;
	bottom: 0;
	opacity: 0;
}
input#m-menu + label {
	position: fixed;
	top: 30px;
	right: 40px;
	height: 20px;
	width: 15px;
	z-index: 5;
}
input#m-menu + label span {
	position: absolute;
	width: 100%;
	height: 2px;
	top: 50%;
	margin-top: -1px;
	left: 0;
	display: block;
	background: #000000;
	transition: .5s;
}
input#m-menu + label span:first-child {
	top: 3px;
}
input#m-menu + label span:last-child {
	top: 16px;
}
label:hover {
	cursor: pointer;
}
input#m-menu:checked + label span {
	opacity: 0;
	top: 50%;
}
input#m-menu:checked + label span:first-child {
	opacity: 1;
	transform: rotate(405deg);
}
input#m-menu:checked + label span:last-child {
	opacity: 1;
	transform: rotate(-405deg);
}
input#m-menu ~ nav {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 78px;
	z-index: 3;
	transition: .4s;
	transition-delay: .4s;
	overflow: hidden;
}
input#m-menu:checked ~ nav {
	height: 100vh;
	transition-delay: 0s;
	background: rgba(255,255,255,0.9);
	transition: all ease-in .4s;
	transform: translateY(0);
}

/* section */
.header-wrap.nav-back {
	background:rgba(255,255,255,0.3);
}
.randing-sec {
	padding:40px 0;
	color: #fff;
	background: rgba(0,0,0,0.3);
	animation: fadein 3s;
	-moz-animation: fadein 3s; /* Firefox */
	-webkit-animation: fadein 3s; /* Safari and Chrome */
	-o-animation: fadein 3s; /* Opera */
}
@keyframes fadein {
	from {
		opacity:0;
	}
	to {
		opacity:1;
	}
}
@-moz-keyframes fadein { /* Firefox */
	from {
		opacity:0;
	}
	to {
		opacity:1;
	}
}
@-webkit-keyframes fadein { /* Safari and Chrome */
	from {
		opacity:0;
	}
	to {
		opacity:1;
	}
}
@-o-keyframes fadein { /* Opera */
	from {
		opacity:0;
	}
	to {
		opacity: 1;
	}
}
.randing-sec h2 {
	padding-bottom:20px;
	color: #fff;
	font-size:50px;
}
.randing-sec p {font-size:35px;}
.randing-sec ul {
	padding-top:15px;
	font-size:25px;
}
.sec-txt-wrap {
	width:50%;
	height: 100%;
	padding-top:11.250em;
	padding-left:12.500em;
	background:rgba(0,0,0,0.7);
	text-align:left;
}
.sec-txt-wrap .sec-sub-txt {
	width:430px;
	padding:1.250em 0 1.875em;
	color:#fff;
}
.sec-bg0 {
	background-image: url("../img/bg0.jpg");
	background-repeat: no-repeat;
	background-position: top center;
	background-size: cover;
}
.sec-bg01 {
	background-image: url("../img/bg3.jpg");
	background-repeat: no-repeat;
	background-position: top center;
	background-size: cover;
}
.sec-bg02 {
	background-image: url("../img/bg4.jpg");
	background-repeat: no-repeat;
	background-position: top center;
	background-size: cover;
}
.sec-link-area {
	overflow: hidden;
	padding-top:3.125em;
}
.sec-link-area div {
	margin-right: 20px;
	float: left;
	background: #fff;
	box-shadow: 8px 8px 40px rgba(255,255,255,0.5);
	opacity: 0;
}
.sec-link-area div a {
	display: inline-block;
	width: 210px;
	height: 320px;
	padding:30px;
	color:#000;
}
.sec-link-area .tit {
	font-size:20px;
	font-weight: bold;
}
.sec-link-area .sub-txt {
	font-size:19px;
	padding-top:30px;
}
.sec-link-area div:hover {
	background: linear-gradient(130deg,#E56E77,#890014);
	transition: 0.5s ease-in;
	transform: translate(0,-20px);
	-ms-transform :translate(0,-20px);
	-webkit-transform:translate(0,-20px);
}
.sec-link-area div:hover a {
	color:#fff;
}
.sec-box01 {
	-webkit-transform: translate3d(20px, 0px, 0px);
	-moz-transform: translate3d(20px, 0px, 0px);
	-ms-transform:translate3d(20px, 0px, 0px);
	transform: translate3d(20px, 0px, 0px);
	opacity: 1;
}
.sec-box01.active {
	-webkit-transform: translate3d(0px, 0px, 0px);
	-moz-transform: translate3d(0px, 0px, 0px);
	-ms-transform:translate3d(0px, 0px, 0px);
	transform: translate3d(0px, 0px, 0px);
	-webkit-transition: all 0.7s ease-out;
	-moz-transition: all 0.7s ease-out;
	-o-transition: all 0.7s ease-out;
	transition: all 0.7s ease-out;
	opacity: 1;
}
.sec-box02 {
	-webkit-transform: translate3d(20px, 0px, 0px);
	-moz-transform: translate3d(20px, 0px, 0px);
	-ms-transform:translate3d(20px, 0px, 0px);
	transform: translate3d(20px, 0px, 0px);
	opacity: 1;
}
.sec-box02.active {
	-webkit-transform: translate3d(0px, 0px, 0px);
	-moz-transform: translate3d(0px, 0px, 0px);
	-ms-transform:translate3d(0px, 0px, 0px);
	transform: translate3d(0px, 0px, 0px);
	-webkit-transition: all 0.7s ease-out;
	-moz-transition: all 0.7s ease-out;
	-o-transition: all 0.7s ease-out;
	transition: all 0.7s ease-out;
	opacity: 1;
}
.sec-box03 {
	-webkit-transform: translate3d(20px, 0px, 0px);
	-moz-transform: translate3d(20px, 0px, 0px);
	-ms-transform:translate3d(20px, 0px, 0px);
	transform: translate3d(20px, 0px, 0px);
	opacity: 1;
}
.sec-box03.active {
	-webkit-transform: translate3d(0px, 0px, 0px);
	-moz-transform: translate3d(0px, 0px, 0px);
	-ms-transform:translate3d(0px, 0px, 0px);
	transform: translate3d(0px, 0px, 0px);
	-webkit-transition: all 0.7s ease-out;
	-moz-transition: all 0.7s ease-out;
	-o-transition: all 0.7s ease-out;
	transition: all 0.7s ease-out;
	opacity: 1;
}
.sec-box04 {
	-webkit-transform: translate3d(0px, 60px, 0px);
	-moz-transform: translate3d(0px, 60px, 0px);
	-ms-transform:translate3d(0px, 60px, 0px);
	transform: translate3d(0px, 60px, 0px);
	opacity: 1;
}
.sec-box04.active {
	-webkit-transform: translate3d(0px, 0px, 0px);
	-moz-transform: translate3d(0px, 0px, 0px);
	-ms-transform:translate3d(0px, 0px, 0px);
	transform: translate3d(0px, 0px, 0px);
	-webkit-transition: all 0.7s ease-out;
	-moz-transition: all 0.7s ease-out;
	-o-transition: all 0.7s ease-out;
	transition: all 0.7s ease-out;
	opacity: 1;
}
.sec-box05 {
	-webkit-transform: translate3d(0px, 40px, 0px);
	-moz-transform: translate3d(0px, 40px, 0px);
	-ms-transform:translate3d(0px, 40px, 0px);
	transform: translate3d(0px, 40px, 0px);
	opacity: 1;
}
.sec-box05.active {
	-webkit-transform: translate3d(0px, 0px, 0px);
	-moz-transform: translate3d(0px, 0px, 0px);
	-ms-transform:translate3d(0px, 0px, 0px);
	transform: translate3d(0px, 0px, 0px);
	-webkit-transition: all 0.7s ease-out;
	-moz-transition: all 0.7s ease-out;
	-o-transition: all 0.7s ease-out;
	transition: all 0.7s ease-out;
	opacity: 1;
}
.sec-box06 {
	-webkit-transform: translate3d(0px, 20px, 0px);
	-moz-transform: translate3d(0px, 20px, 0px);
	-ms-transform:translate3d(0px, 20px, 0px);
	transform: translate3d(0px, 20px, 0px);
	opacity: 1;
}
.sec-box06.active {
	-webkit-transform: translate3d(0px, 0px, 0px);
	-moz-transform: translate3d(0px, 0px, 0px);
	-ms-transform:translate3d(0px, 0px, 0px);
	transform: translate3d(0px, 0px, 0px);
	-webkit-transition: all 0.7s ease-out;
	-moz-transition: all 0.7s ease-out;
	-o-transition: all 0.7s ease-out;
	transition: all 0.7s ease-out;
	opacity: 1;
}

/* btn */
.btn-classic {
	position: relative;
	display: inline-block;
	width: 200px;
	padding: 12px 0 13px 15px;
	background: #000;
	color: #fff;
	font-size: 16px;
	text-align: left;
	border: 0;
}
.btn-classic span {
	display: inline-block;
	width: 35px;
	height: 5px;
	position: absolute;
	right: 12px;
	top: 20px;
	background-image: url(../img/icon-arrow-click.png);
	background-repeat: no-repeat;
	background-size: 35px 5px;
}
.btn-classic:hover {
	background: #a50034;
	color:#fff;
}
.btn-classic.center {
	margin:30px auto 0;
}
.slide .slide-inner {
	transition: all .4s ease-in;
}
@keyframes slide-inner {
	0% {
		transform: translateY(10%);
		opacity: 0;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}
.slide .slide-inner h2 {
	font-size:2.813em;
}
.slide .slide-inner p {
	padding-top:16px;
	font-size:2.250em;
}
.img-email {
	padding: 30px 0;
	animation: img-email 3.2s ease-out infinite;
}
.section-contact .fp-tableCell {vertical-align: top;}




/* contact */
.customoverlay {position:relative;bottom:85px;border-radius:6px;border: 1px solid #ccc;border-bottom:2px solid #ddd;float:left;}
.customoverlay:nth-of-type(n) {border:0; box-shadow:0px 1px 2px #888;}
.customoverlay a {display:block;text-decoration:none;color:#000;text-align:center;border-radius:6px;font-size:14px;font-weight:bold;overflow:hidden;background: #d95050;background: #d95050 url(http://t1.daumcdn.net/localimg/localimages/07/mapapidoc/arrow_white.png) no-repeat right 14px center;}
.customoverlay .title {display:block;text-align:center;background:#fff;margin-right:35px;padding:10px 15px;font-size:14px;font-weight:bold;}
.customoverlay:after {content:'';position:absolute;margin-left:-12px;left:50%;bottom:-12px;width:22px;height:12px;background:url('http://t1.daumcdn.net/localimg/localimages/07/mapapidoc/vertex_white.png')}
.contact-wrap {
	height:100%;
	position: relative;
}
.contact-info h2 {padding-top:120px; color:#000;}
.contact-info .email {padding-bottom:10px;}
.contact-info .email em,
.contact-info .phone em {font-size: 25px;}
.wrap_content.map {
	width:100%;
	position: absolute;
	left:0;
	bottom:0;
}
.map-size {width: 100%; height: 500px;}
@-webkit-keyframes img-email {
	0% {
		transform: translateY(0);
	}

	50% {
		transform: translateY(-25px);
	}

	100% {
		transform: translateY(0);
	}
}

@-moz-keyframes img-email {
	0% {
		transform: translateY(0);
	}

	50% {
		transform: translateY(-25px);
	}

	100% {
		transform: translateY(0);
	}
}

@-o-keyframes img-email {
	0% {
		transform: translateY(0);
	}

	50% {
		transform: translateY(-25px);
	}

	100% {
		transform: translateY(0);
	}
}

@-ms-keyframes img-email {
	0% {
		transform: translateY(0);
	}

	50% {
		transform: translateY(-25px);
	}

	100% {
		transform: translateY(0);
	}
}

@keyframes img-email {
	0% {
		transform: translateY(0);
	}

	50% {
		transform: translateY(-25px);
	}

	100% {
		transform: translateY(0);
	}
}

/* slide down arrow */
.slider-down-arrow {
	position: absolute;
	z-index: 10;
	bottom: 70px;
	left: 0;
	width: 100%;
	text-align: center;
	font-size: 32px;
}
@media (min-width: 1024px) {
	.slider-down-arrow {
		bottom: 90px;
		font-size: 48px;
	}
}
.slider-down-arrow a.bounce {
	position: relative;
	line-height: 1em;
	display: inline-block;
	color: white;
	text-shadow: 0 1px 8px rgba(0,0,0,0.5);
	animation: bounce 3.2s ease-out infinite;
}
@-webkit-keyframes bounce {
	0% {
		transform: translateY(0);
	}

	50% {
		transform: translateY(-100px);
	}

	100% {
		transform: translateY(0);
	}
}

@-moz-keyframes bounce {
	0% {
		transform: translateY(0);
	}

	50% {
		transform: translateY(-100px);
	}

	100% {
		transform: translateY(0);
	}
}

@-o-keyframes bounce {
	0% {
		transform: translateY(0);
	}

	50% {
		transform: translateY(-100px);
	}

	100% {
		transform: translateY(0);
	}
}

@-ms-keyframes bounce {
	0% {
		transform: translateY(0);
	}

	50% {
		transform: translateY(-100px);
	}

	100% {
		transform: translateY(0);
	}
}

@keyframes bounce {
	0% {
		transform: translateY(0);
	}

	50% {
		transform: translateY(-100px);
	}

	100% {
		transform: translateY(0);
	}
}
.txt-hidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
	white-space: nowrap;
}

/* sub page */
.sub-cube-wrap {
	display: flex;
	flex-wrap: wrap;
}
.sub-cube-inner {
	width:calc(99.99%/3);
	height:500px;
	position: relative;
}
.sub-cube-inner.inner-01:hover {
	background: #49afcd;
}
.sub-cube-inner.inner-02:hover {
	background: #890014;
}
.sub-cube-inner.inner-03:hover {
	background: #1f6377;
}
.sub-cube-inner.inner-04:hover {
	background: #a50034;
}
.sub-cube-inner.inner-05:hover {
	background: #d95050;
}
.sub-cube-inner.inner-06:hover {
	background: cadetblue;
}
.sub-cube-inner.inner-07:hover {
	background: #49afcd;
}
.sub-cube-inner.inner-08:hover {
	background: #890014;
}
.sub-cube-inner.inner-09:hover {
	background: #1f6377;
}
.sub-cube-inner.inner-10:hover {
	background: #49afcd;
}
.sub-cube-inner.inner-11:hover {
	background: #d95050;
}
.sub-cube-inner.inner-01 {
	background-image: url(../img/mega.jpg);
	background-repeat: no-repeat;
	background-size: 80%;
	background-position: center;
}
.sub-cube-inner.inner-02 {
	background-image: url(../img/samsung.png);
	background-repeat: no-repeat;
	background-size: 80%;
	background-position: center;
}
.sub-cube-inner.inner-03 {
	background-image: url(../img/ktcom.png);
	background-repeat: no-repeat;
	background-size: 80%;
	background-position: center;
}
.sub-cube-inner.inner-04 {
	background-image: url(../img/Ericsson.png);
	background-repeat: no-repeat;
	background-size: 80%;
	background-position: center;
}
.sub-cube-inner.inner-05 {
	background-image: url(../img/museum.jpg);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
}
.sub-cube-inner.inner-06 {
	background-image: url(../img/lglogo.jpg);
	background-repeat: no-repeat;
	background-size: 80%;
	background-position: center;
}
.sub-cube-inner.inner-07 {
	background-image: url(../img/skhynix.jpg);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
}
.sub-cube-inner.inner-08 {
	background-image: url(../img/lglogo.jpg);
	background-repeat: no-repeat;
	background-size: 80%;
	background-position: center;
}
.sub-cube-inner.inner-09 {
	background-image: url(../img/lglogo.jpg);
	background-repeat: no-repeat;
	background-size: 80%;
	background-position: center;
}
.sub-cube-inner.inner-10 {
	background-image: url(../img/btv.png);
	background-repeat: no-repeat;
	background-size: 80%;
	background-position: center;
}
.sub-cube-inner.inner-11 {
	background-image: url(../img/lglogo.jpg);
	background-repeat: no-repeat;
	background-size: 80%;
	background-position: center;
}
.sub-cube-inner a {
	height: inherit;
	display: flex;
	align-items: center;
	justify-content: center;
}
.sub-cube-inner a h2,
.sub-cube-inner .btn-secondary
{
	opacity: 0;
	font-size:30px;
	color:#fff;
}
.sub-cube-inner a:hover h2,
.sub-cube-inner a:hover .btn-secondary
{
	opacity: 1;
	transform: translateY(-10px);
	transition: .3s transform;
}
.sub-cube-inner span.btn-secondary {
	display: block;
	position: absolute;
	right: 10%;
	bottom: 10%;
	cursor: pointer;
	margin-bottom: 0;
	color:#fff;
	font-size:20px;
}
.btn-secondary:after {
	content: '';
	position: absolute;
	bottom: -5px;
	left: 0;
	right: 0;
	height: 3px;
	background: #f5b21f;
	transition: .3s left,.3s right;
}
.btn-secondary:hover:after {
	left: 20px;
	right: -20px;
}
.sub-detail-wrap {
	display: flex;
	flex-wrap: wrap;
}
.sub-detail-img,
.sub-detail-txt
{
	width:50%;
	height: 500px;
}
.sub-detail-img {
	background-image: url("../img/bg4.jpg");
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
}
.sub-detail-img.mega01 {
	background-image: url("../img/img_mega_01.png");
}
.sub-detail-img.mega02 {
	background-image: url("../img/img_mega_02.png");
}
.sub-detail-img.mega03 {
	background-image: url("../img/img_mega_03.png");
}
.sub-detail-img.kt01 {
	background-image: url("../img/img_kt01.png");
}
.sub-detail-img.kt02 {
	background-image: url("../img/img_kt02.png");
}
.sub-detail-img.kt03 {
	background-image: url("../img/img_kt03.png");
}
.sub-detail-img.erricson01 {
	background-image: url("../img/img_erricson01.png");
	background-size: contain;
}
.sub-detail-img.erricson02 {
	background-image: url("../img/img_erricson02.png");
	background-size: contain;
}
.sub-detail-img.erricson03 {
	background-image: url("../img/img_erricson03.png");
	background-size: contain;
}
.sub-detail-img.muzin01 {
	background-image: url("../img/img_muzin01.jpg");
}
.sub-detail-img.muzin02 {
	background-image: url("../img/img_muzin02.jpg");
	background-size: contain;
}
.sub-detail-img.muzin03 {
	background-image: url("../img/img_muzin03.jpg");
	background-size: contain;
}
.sub-detail-img.sss01 {
	background-image: url("../img/img_sss01.jpg");
}
.sub-detail-img.sss02 {
	background-image: url("../img/img_sss02.png");
}
.sub-detail-img.sss03 {
	background-image: url("../img/img_sss03.png");
	background-size: contain;
}
.sub-detail-img.lgwm01 {
	background-image: url("../img/img_lgplatform01.JPG");
}
.sub-detail-img.lgwm02 {
	background-image: url("../img/img_lgplatform02.JPG");
}
.sub-detail-img.lgwm03 {
	background-image: url("../img/img_lgplatform03.JPG");
}
.sub-detail-img.lgm01 {
	background-image: url("../img/img-m-01.JPG");
}
.sub-detail-img.lgm02 {
	background-image: url("../img/img-m-02.JPG");
}
.sub-detail-img.lgm03 {
	background-image: url("../img/img-m-03.JPG");
}
.sub-detail-img.skb01 {
	background-image: url("../img/img-b-01.JPG");
}
.sub-detail-img.skb02 {
	background-image: url("../img/img-b-02.JPG");
}
.sub-detail-img.skb03 {
	background-image: url("../img/img-b-03.JPG");
}
.sub-detail-txt {
	display: flex;
	flex-direction: column;
	justify-content: center;
	color:#fff;
}
.sub-detail-txt h2:after
{
	content: "";
	display: block;
	height: 2px;
	width: 20px;
	background-color: rgb(255, 255, 255);
	transition: all .5s ease-in;
	margin:15px auto 0;
}
.sub-detail-txt .sub-txt {padding:15px 30px 0;}
.sub-detail-txt.sub-bg01 {
	background:#5f9ea0;
}
.sub-detail-txt.sub-bg02 {
	background:#47a4a7;
}
.sub-detail-txt.sub-bg03 {
	background:#055e61;
}


/* about */
.sub-detail-wrap.about-wrap {
	background: #0d576b;
}
.sub-detail-img.abuot-bg01 {
	background-image: url("../img/about01.png");
	background-repeat: no-repeat;
	background-size: 50%;
	background-position: center;
}
.sub-detail-img.abuot-bg02 {
	background-image: url("../img/about02.png");
	background-repeat: no-repeat;
	background-size: 50%;
	background-position: center;
}
.sub-detail-img.abuot-bg03 {
	background-image: url("../img/about03.png");
	background-repeat: no-repeat;
	background-size: 50%;
	background-position: center;
}
.sub-detail-txt.about-txt01 {
	background: #3a3a3a;
}
.sub-detail-txt.about-txt02 {
	background: #333;
}
.sub-detail-txt.about-txt03 {
	background: #3a3a3a;
}
.sub-detail-txt.about-txt01 .sub-txt,
.sub-detail-txt.about-txt02 .sub-txt,
.sub-detail-txt.about-txt03 .sub-txt
{
	padding:15px 50px 0;
	line-height: 1.5em;
}
/* top button */
a.top {
	position: fixed;
	right: 20px;
	bottom: 50px;
	display: none;
	width:50px;
	height: 50px;
	background-image: url("../img/back-to-top.svg");
	background-repeat: no-repeat;
	background-size: cover;
	text-indent: 9999px;
	z-index: 9999;
	transition-property: top;
	transition-duration: .80s;
	transition-timing-function: cubic-bezier(0.715, 0.630, 0.985, 0.005);
}


/* pc */
@media (max-width:1570px) {
	.sec-txt-wrap {
		width:100%;
	}
}
@media (min-width:1024px) {
	.sec-link-area div a {
		width:180px;
	}
	input#m-menu + label {
		display: none;
	}
}
@media (max-width:1024px) {
	.sub-cube-inner {
		width:50%;
	}
	.sub-detail-img,
	.sub-detail-txt
	{
		width:100%;
		height: 500px;
	}
}
/* mobile */
@media (max-width:768px) {
	.sec-txt-wrap {
		width:auto;
		padding-left:30px;
		padding-right: 30px;
	}
	.sec-link-area div {
		width:auto;
		float: none;
		margin-right: 0;
		margin-bottom:20px;
	}
	.sec-link-area div a {
		width:auto;
		height: auto;
	}
	.sec-link-area div:hover {
		transform: none;
		-ms-transform :none;
		-webkit-transform:none;
	}
	.contact-area {width:100%; float:none;}
	/* contact */
	.img-email {padding-bottom:0;}
	/*	header */
	.randing-sec {padding:40px 10px;}
	.randing-sec h2 {font-size:30px;}
	.randing-sec p {font-size:20px;}
	.header-menu li a {
		display: none;
	}
	.header-menu li:last-child {padding-right: 0;}
	.sec-txt-wrap .sec-sub-txt {width:auto;}
	.header-menu {
		width:100%;
		align-self: center;
		line-height: normal;
		height: auto;
	}
	.header-menu li {
		padding-right:0;
		opacity: 0;
	}
	.header-menu li:after {
		width:0;
	}

	/* after input check */
	input#m-menu:checked ~ nav .header-menu li {
		display: block;
		opacity: 1;
		transition: .5s;
		transition-delay: .5s;
	}
	input#m-menu:checked ~ nav .header-menu li a{
		display: block;
		padding:20px 0;
		font-size:30px;
	}
	input#m-menu:checked ~ nav {
		display: flex;
	}


	/* map */
	.map-size {
		width:100%;
		height: 300px;
	}
	/* sub page */
	.sub-cube-inner {
		width:100%;
	}
}



/* Demos Menu
 * --------------------------------------- */
 #demosMenu{
	position:fixed;
	bottom: 10px;
	right:10px;
	z-index: 999;
 }

